<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title pull-left">Roles Management</h4>
				<button class="btn btn-info pull-right" style="margin-bottom: 10px;" routerLink="/configuration/create-role">
					<i class="fa fa-plus"></i>&nbsp;Add New Role
				</button>
				<div class="table table-responsive smart-table">
					<ng2-smart-table *ngIf="showTable" [settings]="settings" [source]="source" class="" (edit)="sTableEvents($event, 'edit')"></ng2-smart-table>
				</div>
			</div>
		</div>
	</div>
</div>